<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html ng-app="myApp">

<head>
    <title>Logout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body>
    <div class="container mt-5" ng-controller="myCtrl"">
        <div class="row">
            <div class="col-12">
                <form>

                    <div class="mb-3">
                        <label for="cerrarsesion" class="form-label">Are you sure?</label><br>
                        <button type="submit" class="btn btn-warning" id="cerrarsesion" ng-click="enviar()">LOG OUT</button>
                    </div>

                </form>
                <h1 id="feedback" ng-model="feedback">{{feedback}}</h1>

            </div>
        </div>
    </div>
</body>

<script>

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {

        // Empieza el programa 

        $scope.enviar = function () {

            $http.get("http://localhost:8085/oldproject/sesiones?op=logout", { withCredentials: true })

                .then(function (response) {
                    console.log(response.data);
                    $scope.feedback = response.data;
                });
        }

    });


</script>

</html>